# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php
silverstripe.log
# ignore composer vendor folder
/vendor/
/framework/
/cms/
/assets/
/siteconfig/
/reports/
/.solr/
/fulltextsearch-localsolr/
/fulltextsearch/
/multivaluefield/
/queuedjobs/
/search-list/
/sortablegridfield/
/swiftype-search/
/taxonomy/
